@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    background-color: cadetblue;
    color: darkblue;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    /* background-color: #333; */
    /* color: white; */
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.main {
    text-align: center;
}

.question-mark-container {
    display: inline-block;
    position: relative;
}
.question-mark {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #999;
    cursor: pointer;
}
.tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
}
.question-mark-container:hover .tooltip {
    visibility: visible;
}

.invalid {
    border: 2px solid red;
}
  .menu-toggle {
    cursor: pointer;
  }
  
  .hamburger {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: transform 0.3s ease-in-out;
  }
  
  .hamburger.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    /* transform: translateY(8px) rotate(45deg); */
  }
  
  .hamburger.open .line:nth-child(2) {
    opacity: 0;
    /* transform: rotate(45deg) translate(5px, 5px); */
  }
  
  .hamburger.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    /* transform: translateY(8px) rotate(45deg); */
  }
  /* .line {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 5px;
    transition: background-color 0.3s ease-in-out;
  } */
  .menu {
    display: none;
    position: absolute;
    top: 40px; /* Adjust as needed */
    right: 0;
    background-color: #16aeae;
    padding: 5px;
  }
  
  .menu.open {
    display: block;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu ul li {
    margin: 5px 0;
  }
  
  .menu ul li a {
    color: black;
    text-decoration: none;
  }
  
  .menu ul li a:hover {
    text-decoration: underline;
  }
  