@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    background-color: cadetblue;
    color: darkblue;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.main {
    text-align: center;
}

.question-mark-container {
    display: inline-block;
    position: relative;
}
.question-mark {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #999;
    cursor: pointer;
}
.tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
}
.question-mark-container:hover .tooltip {
    visibility: visible;
}

.invalid {
    border: 2px solid red;
  }
  